body {
  background-image: url("./images/BGimg.PNG");
}

h1 {
  font-size: 60px;
  background-color: rgba(224, 117, 28, 0.685);
  opacity: 70%;
  color: rgb(255, 255, 255);
  width: 730px;
}
h2 {
  font-size: 30px;

  opacity: 100%;
  color: rgba(244, 246, 249, 0.904);
  width: 730px;
}
p {
  color: aliceblue;
}

.flexbox-item-2 img {
  image-resolution: calc(50%);
  width: 100%;
}
.flexbox-item-3 {
  min-height: 40px;
  flex-shrink: 0px;
  display: block;
  background-color: rgb(253, 253, 253);
}

.certificate-image {
  width: 200px;
  height: 200px;
  flex-direction: column;
  justify-content: center;
}

/* resubmittal styles */

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  list-style: none;
  opacity: 100%;
}

.nav-item {
  color: rgb(145, 219, 241);
  width: 33%;
  outline: solid rgb(145, 219, 241);
  background-color: rgba(224, 117, 28, 0.685);
}
.about-me-img {
  width: 100%;
}
